.expensesPage {
  width: 100%;
  max-width: 400px; /* Mobile width */
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.monthGroup{
  display: flex;
  flex-direction: column;
 
}

.month{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100vh;
}
.monthHeading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  color: #595A5B;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: calc(100% - 3.5rem);
}

.expensesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  padding-bottom: 4rem;
  /* z-index: -1000; */
  overflow-y: auto; /* Scrollable list */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.expensesList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.fab {
  position: fixed;
  bottom: 15%;
  right: 1.2rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-family: var(--sb);
  background-color: #2D2F2F;
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  transition: background-color 0.2s ease-in-out;
}

.fab:hover {
  background-color: #333;
}

